span.title { font-weight: bold;}
span.conf  { font-style:  italic;}

@media only screen and (min-width: 800px) {
	.ui-content[data-role=content] {
		padding: 16px 8% 3.5em;
	}
}

a.ui-link-inherit {
	white-space: normal !important;
	target-new: tab;
}

#pub-lv li {
	font-weight: normal;
}

#proj-lv li {
	font-weight: normal;
}

#bibtex-textarea {
	font-family: monospace;
	font-size: smaller;
}
